@use '$/def/size';

//
// Vars
//

:root
{
    --transitionSpeed: 200ms;
    --transitionFunction: cubic-bezier(0, 0, .5, 1);
    interpolate-size: allow-keywords;
}

// Sizes

:root
{
    --wAside: #{size.$wAside};
    --wMainMin: #{size.$wMainMin};
    --wMainMax: #{size.$wMainMax};

    --gap: #{size.$gap};
    --gapSmall : #{size.$gapSmall};
    --gapBig : #{size.$gapBig};
}

// Colors

:root
{
    --bg:           light-dark(#ebebeb, #141414);
    --bgAside:      light-dark(#f7f7f7, #1b1b1b);
    --bgMain:       light-dark(#ffffff, #212121);
    --bgAccent:     light-dark(#e6e6e6, #262626);

    --border:       light-dark(#D7D7D7, #373737);

    --text:         light-dark(#333333, #C8C8C8);
    --textMuted:    light-dark(#696969, #7f7f7f);
    --textDimmed:   light-dark(#969696, #616161);
    --textDisabled: light-dark(#b9b9b9, #4f4f4f);
    --textBrand:    light-dark(#1879d9, #1092e9);

    --scrollbar:    light-dark(#bfbfbf, #494949);

    --invert:       light-dark(black, white);
}

//
// General rules
//

// Noto Sans + Noto Serif
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body
{
    background: var(--bg);
    font-family: 'Noto Sans', system-ui, sans-serif;
    color: var(--text);
}